body {
  font-family: "Barlow", sans-serif;
}

/********* GENERICS *********/
.family-text-title {
  font-family: "Chakra Petch", sans-serif;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
}

.dbg {
  border: 2px dashed red;
}

/******** HEADER ********/
header {
  height: 5rem;
  line-height: 5rem;
}

.jumbotron--image > img {
  width: 100%;
}

/******** SECTION OUR LOVE ********/
#our-love {
  background-image: url(../img/assets/smart.png);
  background-position: top -2rem left 0;
  background-repeat: no-repeat;
  background-size: 40%;
}

/******** SECTION OUR PROCESS ********/
#our-process--left > img {
  height: 43rem;
  margin-left: -18rem;
}

/******** TEAM MEMBERS ********/
.team-members--card {
  width: 32%;
  background-color: antiquewhite;
}
.team-members--card > img {
  position: relative;
  top: -4rem;
}

/******** OUR CLIENTS ********/
#our-clients img {
  width: 100%;
}
