body {
  font-family: "Barlow", sans-serif;
}

/********* GENERICS *********/
.family-text-title {
  font-family: "Chakra Petch", sans-serif;
}

h2 {
  font-family: "Chakra Petch", sans-serif;
}

.dbg {
  border: 2px dashed red;
}

.my-light-button {
  height: fit-content;
  align-self: center;
  padding: 0.5rem 1.5rem;
  background-color: #ffdfee;
  color: #1f152f;
  border: transparent;
  font-weight: 600;
  border-radius: 50rem;
}

.my-dark-button {
  height: fit-content;
  align-self: center;
  padding: 0.5rem 1.5rem;
  background-color: #270264;
  color: #f7f0ff;
  border-color: #f7f0ff;
  font-weight: 600;
  border-radius: 50rem;
}

.my-blu-text {
  color: #4e36dc;
}

.orange-text {
  color: #ff7b1f;
}

/******** HEADER ********/
header {
  height: 5rem;
  line-height: 5rem;
  color: #f7f0ff;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}

#background-header-jumbotron {
  background-image: url(../img/assets/right-man.png),
    url(../img/assets/left-man.png), url(../img/assets/dots-right.png),
    url(../img/assets/dots-left.png), url(../img/assets/globe1.png),
    url(../img/assets/globe2.png), url(../img/assets/globe3.png),
    url(../img/assets/light.png), url(../img/assets/preloader.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 11rem, 11rem, 40rem, 40rem, 6rem, 6rem, 15rem, 7rem, 90rem;
  background-position: 98% 20%, 2% 20%, 100% 15%, 0% 35%, 8% 13%, 73% 16%,
    45% -22%, 90% 12%, 0% 0%;
}
/********* JUMBOTRON *********/
#jumbotron {
  color: #ffdfee;
}
.jumbotron--image > img {
  width: 100%;
}

.jumbotron--image {
  position: relative;
}
.play-logo {
  font-size: 3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prova {
  color: #a616eb;
  background-color: #f7f0ff;
  border-radius: 50%;
  outline: 0.7rem solid #9d15df;
  outline-offset: -1px;
}

/******** SECTION OUR LOVE ********/
#our-love {
  background-image: url(../img/assets/smart.png), url(../img/assets/smart4.png);
  background-position: -2rem 0, 2rem 10rem;
  background-repeat: no-repeat, no-repeat;
  background-size: 26rem 47rem, 10rem;
  color: #311852;
}

.our-love--single-card {
  background: linear-gradient(#fffefd, #fdf2eb);
  border-radius: 25px;
  border: 1px solid #ffdfee;
  width: 23.5%;
}

.our-love--single-card.special {
  background: linear-gradient(#fffefd, #efebfc);
}

/******** QUICK FACTS SECTION ********/
#quick-facts {
  background-image: url(../img/assets/globe.png),
    url(../img/assets/counter-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 25rem, auto;
  background-position: 25rem 2rem, 0 0;
  position: relative;
  color: #f7f0ff;
}

.part-over-background {
  position: absolute;
  top: 0;
}

.part-under-background {
  position: absolute;
  bottom: 0;
}

.quick-facts--card {
  border: 1px solid #f7f0ff;
  width: 24%;
  border-radius: 25px;
}
/******** SECTION OUR WORKS ********/
#our-works {
  color: #311852;
}

#our-works .my-light-button {
  background-color: white;
  border: 1px solid #ffdfee;
}

/******** SECTION OUR PROCESS ********/
#our-process--left > img {
  height: 43rem;
  margin-left: -18rem;
}
#our-process {
  color: #311852;
}

.our-process--single-card {
  border: 1px solid #ffdfee;
  border-radius: 25px;
  width: 48%;
  position: relative;
}

.my-badge {
  position: absolute;
  top: 0px;
  right: 17px;
  background-color: #f7f1ff;
  padding: 2rem 0.9rem 0.3rem 0.9rem;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  color: #8d829d;
}

.my-arrow {
  border-radius: 50%;
  border: 1px solid #dedee2;
  color: #9f9ea2;
  height: 3rem;
  width: 3rem;
  display: inline-block;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
}
/******** TEAM MEMBERS ********/
.team-members--card {
  width: 32%;
  background-color: antiquewhite;
}
.team-members--card > img {
  position: relative;
  top: -4rem;
}

/******** OUR CLIENTS ********/
#our-clients img {
  width: 100%;
}

.buttonIn {
  width: 66%;
  position: relative;
  margin: auto;
  display: flex;
}

#enter {
  margin: 0px;
  padding: 0px;
  outline: none;
  border-radius: 5px;
  height: 3.5rem;
  border-radius: 25px;
  border: transparent;
  width: 45rem;
}

#clear {
  position: absolute;
  top: 0;
  border-radius: 35px;
  right: 12px;
  z-index: 2;
  border: none;
  top: 8px;
  height: 41px;
  cursor: pointer;
  color: white;
  background-color: #1e90ff;
  transform: translateX(4px);
}

/********  bottom right arrow ********/

.go-start {
  position: absolute;
  right: 1rem;
}
